*{
    background-color: #2C3E50;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    display: flex;
    background-color: #1B263B;
    justify-content: flex-start;
    flex: 1;
}

.heading p {
    font-size: 100px;
    display: flex;
    color: #F8F9FA;
    background-color: #0D1B2A;
    padding-left: 20px;
}

.recipe-flexbox {
    display: flex;
    justify-content: space-between;
    background-color: #3D5A80;
    height: 180px;
}

.recipe-flexitem {
    display: flex;
    background-color: #3D5A80;
    flex-direction: column;
    padding: 10px;
}

.recipe-flexitem a {
    color: #E63946;
    display: flex;
    background-color: #3D5A80;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

.recipe-flexitem p {
    color: #F4A261;
    display: flex;
    background-color: #3D5A80;
    flex-direction: column;
    font-size: 25px;
}

.lol img {
    display: flex;
    flex: 1;
    height: 180px;
    padding: 0px;
}



